@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

 
 
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
    }
.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 75px;
}
.navbar ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin-right:auto;
    gap: 50px;

}
.navbar a{
    text-decoration: none;
    color:rgb(246, 99, 86);    
}
.navbar img {
    margin-right: 55px;
}   
/*main page*/
.main-container{
    display:flex;
    flex-direction: row;

}
.main-container .container-2{
    display:flex;
    flex-direction: column;
    margin-top: 150px;
    padding-left: 75px;
    padding-bottom: 100px;
}

span.is-turkiye{
    font-size: 65px;
    margin-left: 55px;
    color: red;
}
.container-2 h1{
    font-size: 32.5px;
    color:black;
}
.container-2 a {
    margin-top: 15px;
    margin-left: 450px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 10px;
    width: 155px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
}
.container-2 .turkey{
    width :500px;
}
.footer{
    padding: 50px 50px;
    text-align: center;
    background-color: rgb(77, 62, 62);
    color: white;
    
}